<{include file="default/header.html"}>
<div class="main">
	<div class="contents">
		<div class="top">站点配置</div>
		<h2>站点参数配置</h2>
		<div class="entry">
			<form action="<{spUrl c=admin a=setting}>" method="POST">
			<{if "" != $msg}>
				<p class="formitem"><i class="warning"><{$msg}></i></p><{/if}>
				<textarea class="formsetting" name="settings" wrap=off><{$settings}></textarea>
				<div class="formhr"></div>
				<input type="hidden" name="cstatic" value="1">
				<p class="formsubmit"><input type="submit" value="提交"></p>
			</form>
		</div>
	</div>
	<{$template_sidebar}>
	<div class="clear"></div>
</div>
<{include file="default/footer.html"}>