<{include file="default/header.html"}>
<div class="main">
	<div class="contents">
		<div class="top">建议反馈</div>
		<div class="post">
			<div class="postad">对本站有什么建议吗？</div>
			<form action="<{spUrl c=feedback a=idea}>" class="postform" method="POST">
				<textarea name="msg"></textarea>
				<div class="postnow"><span><input type="submit" value="发送到站点管理员" class="button" /></span></div>
			</form>
		</div>
	</div>
	<{$template_sidebar}>
	<div class="clear"></div>
</div>
<{include file="default/footer.html"}>