<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><{$template_title}><{$winblog.sitename}> - Powered by WinBlog</title>
<meta name="description" content="<{$winblog.siteintro}>" />
<meta name="keywords" content="<{$winblog.sitename}>,申请微博,PHP微博,支持康盛UCenter的PHP微博程序,WinBlog微博" />
<link rel="stylesheet" href="<{$themes_path}>main.css" type="text/css" media="screen" />
<script language="javascript" type="text/javascript" src="<{$site_uri}>/template/default/common.js"></script>
</head>
<body>
<div class="container">
<div class="header">
	<div class="logo"><a href="<{spUrl c=main a=index}>"><img src="<{$themes_path}>logo.gif" alt="logo" /></a></div>
	<div class="navigation">
		<ul>
<{if "" != $site_user}>
			<li><a href="<{spUrl c=main a=index}>">微博首页</a></li>
			<li><a href="<{spUrl c=wblog a=index}>">我的首页</a></li>
			<li><a href="<{spUrl c=wblog a=view}>">我的微博</a></li>
			<li><a href="<{spUrl c=panel a=info}>">个人设置</a></li>
			<{if "WINADMIN" == $site_user.acl_name}>
			<li><a href="<{spUrl c=admin}>">站点管理</a></li>
			<{/if}>
			<li><a href="<{spUrl c=main a=logout}>">退出</a></li>
<{else}>
			<li><a href="<{spUrl c=main a=index}>">微博首页</a></li>
			<li><a href="<{spUrl c=main a=login}>">登录</a></li>
			<li><a href="<{spUrl c=main a=register}>" target="_blank">注册</a></li>
<{/if}>
		</ul>
	</div>
	<div class="clear"></div>
</div>