<{include file="default/header.html"}>
<div class="main">
	<div class="contents">
		<div class="top">激活微博</div>
		<h2>个人资料</h2>
		<h3>请填写以下信息：</h3>
		<div class="entry">
			<div class="box">
			<form action="<{spUrl c=main a=active}>" method="POST">
				<input type="hidden" name="ustatic" value="1">
				<p class="formitem"><span>用户名：</span><{$userinfo.username}></p>
				<p class="formitem"><span>昵称：</span>
				<input type="text" name="nickname" class="input" id="nickname" value="<{$remaininput.nickname}>" /><u>(必填)</u>
				<{foreach from=$errmsg_arr item=err key=posi}><{if "nickname" == $posi }><i class="warning"><{$err.0}></i><{/if}><{/foreach}>
				</p>
				<p class="formitem"><span>电子邮件：</span><{$userinfo.email}><u>(保密)</u></p>
				<p class="formitem"><span>性别：</span>
				<input type="radio" name="sex" value="0" id="male"<{if 0 == $remaininput.sex or "" == $remaininput.sex}> checked<{/if}>>&nbsp;<label for="male">男</label>&nbsp;&nbsp;
				<input type="radio" name="sex" value="1" id="female"<{if 1 == $remaininput.sex}> checked<{/if}>>&nbsp;<label for="female">女</label><u>(必填)</u>
				</p>
				<div class="formhr"></div>
				<p class="formitem"><span>所在城市：</span>
<script language=javascript src="<{$site_uri}>/template/default/city.js"></script>
<select name="addprovince" id="selProvince" onChange = "getCity(this.options[this.selectedIndex].value)"> 
        <option value="">-请选择-</option> 
        <option value="北京市">北京市</option> 
        <option value="上海市">上海市</option> 
        <option value="天津市">天津市</option> 
        <option value="重庆市">重庆市</option> 
        <option value="河北省">河北省</option> 
        <option value="山西省">山西省</option> 
        <option value="内蒙古自治区">内蒙古自治区</option> 
        <option value="辽宁省">辽宁省</option> 
        <option value="吉林省">吉林省</option> 
        <option value="黑龙江省">黑龙江省</option> 
        <option value="江苏省">江苏省</option> 
        <option value="浙江省">浙江省</option> 
        <option value="安徽省">安徽省</option> 
        <option value="福建省">福建省</option> 
        <option value="江西省">江西省</option> 
        <option value="山东省">山东省</option> 
        <option value="河南省">河南省</option> 
        <option value="湖北省">湖北省</option> 
        <option value="湖南省">湖南省</option> 
        <option value="广东省">广东省</option> 
        <option value="广西壮族自治区">广西壮族自治区</option> 
        <option value="海南省">海南省</option> 
        <option value="四川省">四川省</option> 
        <option value="贵州省">贵州省</option> 
        <option value="云南省">云南省</option> 
        <option value="西藏自治区">西藏自治区</option> 
        <option value="陕西省">陕西省</option> 
        <option value="甘肃省">甘肃省</option> 
        <option value="宁夏回族自治区">宁夏回族自治区</option> 
        <option value="青海省">青海省</option> 
        <option value="新疆维吾尔族自治区">新疆维吾尔族自治区</option> 
        <option value="香港特别行政区">香港特别行政区</option> 
        <option value="澳门特别行政区">澳门特别行政区</option> 
        <option value="台湾省">台湾省</option> 
        <option value="其它">其它</option> 
    </select> 
    <select id="selCity" name="addcity"> 
        <option value="">-城市-</option> 
    </select> 	<u>(必填)<{foreach from=$errmsg_arr item=err key=posi}><{if "addcity" == $posi }><i class="warning"><{$err.0}></i><{/if}><{/foreach}></u>
    			</p>
    			<p class="formitem"><span>博客地址：</span><input type="text" name="blog" class="input" value="<{$remaininput.blog}>"><u>(选填)</u></p>
    			<p class="formitem"><span>自我介绍：</span><u>(选填)</u><br /><textarea class="formintro" name="intro"><{$remaininput.intro}></textarea></p>
    			<div class="formhr"></div>
				<p class="formsubmit"><input type="submit" value="提交"></p>
			</form>
			</div>
		</div>
	</div>
	<{$template_sidebar}>
	<div class="clear"></div>
</div>
<{include file="default/footer.html"}>