<{include file="default/header.html"}>
<div class="main">
	<div class="contents">
		<div class="top"><{$winblog.sitename}></div>
		<h2>忘记密码</h2>
		<h3>请填写你注册的用户名以及电子邮件，新密码将寄送到你的注册邮件。</h3>
		<div class="entry">
			<div class="box">
			<form action="<{spUrl c=main a=forgetpw}>" method="POST" onsubmit="return forgetpw_submit();">
			<{if "" != $errmsg}>
				<p class="formitem"><i class="warning"><{$errmsg}></i></p><{/if}>
				<p class="formitem"><span>用户名：</span><input type="text" name="username" class="input" id="username" /></p>
				<p class="formitem"><span>电子邮箱：</span><input type="text" name="email" class="input" id="email" /></p>
				<div class="formhr"></div>
				<p class="formsubmit"><input type="submit" value="提交"></p>
			</form>
			</div>
		</div>
	</div>
	<{$template_sidebar}>
	<div class="clear"></div>
</div>
<{include file="default/footer.html"}>