<{include file="default/header.html"}>
<div class="main">
	<div class="contents">
		<div class="top">修改密码</div>
		<h2>修改密码</h2>
		<h3>请验证你的旧密码：</h3>
		<div class="entry">
			<div class="box">
				<form action="<{spUrl c=panel a=chgpw}>" class="postform" method="POST" onsubmit="return chgpw_submit();">
					<p  class="formitem"><span>旧密码：</span><input type="password" name="oldpw" class="input" id="oldpw" /><{if "" != $err }><i class="warning"><{$err}></i><{/if}></p>
					<p  class="formitem"><span>新密码：</span><input type="password" name="newpw" class="input" id="newpw" /></p>
					<p  class="formitem"><span>验证密码：</span><input type="password" name="compw" class="input" id="compw" /></p>
					<div class="formhr"></div>
					<p  class="formsubmit"><input type="submit" value="提交" class="button" /></p>
				</form>
			</div>
		</div>
	</div>
	<{$template_sidebar}>
	<div class="clear"></div>
</div>
<{include file="default/footer.html"}>