<{include file="default/header.html"}>
<div class="main">
	<div class="contents">
		<div class="top">关注</div>
		<h2><{if "asfans" == $type}><{$isme}>关注的人<{else}>关注<{$isme}>的人<{/if}></h2>
		<h3><a href="<{spUrl c=wblog a=fans type=asfans username=$username}>"><{$isme}>关注的人</a><span><a href="<{spUrl c=wblog a=fans type=myfans username=$username}>">关注<{$isme}>的人</a></span></h3>
<{if "" != $fanslist}>
		<{foreach from=$fanslist item=fans}>
		<div class="entry">
			<div class="avatar"><div class="imgborder"><a href="<{uri u=$fans.info.username}>"><img src="<{$themes_ucenter_path}>/avatar.php?uid=<{$fans.info.uid}>&size=small" /></a></div></div>
			<div class="box">
				<p><a href="<{uri u=$fans.info.username}>"><{$fans.info.nickname}></a></p>
				<div class="detail">
					<ul>
						<li><{$fans.info.city}></li>
						<li><{$fans.info.winsum}>条微博</li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<{/foreach}>
<{/if}>
<{pager c=wblog a=fans type=asfans username=$username pager=$pager}>
	</div>
	<{$template_sidebar}>
	<div class="clear"></div>
</div>
<{include file="default/footer.html"}>