<{include file="default/header.html"}>
<div class="main">
	<div class="full">
		<div class="top">分享到<{$winblog.sitename}></div>
		<div class="center">
			<div class="msg">
				<form action="<{spUrl c=widget a=share}>" method="POST">
					<p class="formitem"><span>标题：</span><input type="text" name="share_title" class="input" value="<{$share_title}>" /></p>
					<p class="formitem"><span>网址：</span><input type="text" name="share_url" class="input" value="<{$share_url}>" /></p>
					<div class="formhr"></div>
					<p class="formsubmit"><input type="submit" value="提交" class="button" /></p>
				</form>
			</div>
		</div>
	</div>
</div>
<{include file="default/footer.html"}>