<{include file="default/header.html"}>
<div class="main">
	<div class="contents">
		<div class="top"><{$winblog.sitename}></div>
		<div class="post">
			<div class="postad">你在做什么呢？注册时下最火，最时尚的<{$winblog.sitename}>吧。<{getToday}></div>
		</div>
<{include file="default/wblog_form.html" show="none"}>
<{include file="default/wblog_box.html" winlist=$winlist}>
<{pager c=main a=index pager=$pager}>
	</div>
	<{$template_sidebar}>
	<div class="clear"></div>
</div>	
<{include file="default/footer.html"}>