	<div class="sidebar">
		<div class="box">
			<h2><a href="#">排行榜</a></h2>
			<h3>关注榜</h3>
			<ul class="users">
<{foreach from=$toplist item=one}>
				<li>
					<a href="<{uri u=$one.username}>"><img src="<{$themes_ucenter_path}>/avatar.php?uid=<{$one.uid}>&size=small" /></a><br /><a href="<{uri u=$one.username}>"><{$one.nickname}></a><br /><span><a href="<{spUrl c=wblog a=asfans touid=$one.uid  do='befans'}>">关注他</a></span>
				</li>
<{/foreach}>
			</ul>
			<div class="clear"></div>
			<h3>新人榜</h3>
			<ul class="users">
<{foreach from=$newlist item=one}>
				<li>
					<a href="<{uri u=$one.username}>"><img src="<{$themes_ucenter_path}>/avatar.php?uid=<{$one.uid}>&size=small" /></a><br /><a href="<{uri u=$one.username}>"><{$one.nickname}></a><br /><span><a href="<{spUrl c=wblog a=asfans touid=$one.uid  do='befans'}>">关注他</a></span>
				</li>
<{/foreach}>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="box">
			<h3>意见反馈</h3>
			<ul>
				<li><{$winblog.sitename}>，<{$winblog.siteintro}>。</li>
				<li>欢迎使用<{$winblog.sitename}>并提出宝贵建议。请点击<a href="<{spUrl c=feedback a=idea}>">这里</a>提交微博意见反馈。 </li>
			</ul>
		</div>

	</div>