<{include file="default/header.html"}>
<div class="main">
	<div class="contents">
		<h2>随便看看</h2>
		<div class="entry">
			<div class="avatar"><div class="imgborder"><a href="#"><img src="demoavatar.jpg" alt="demo" /></a></div></div>
			<div class="box">
				<p><a href="#">星座运势</a>：【12星座今日运势速递】周一，打起精神投入工作，看看你今天的运势如何！ http://sinaurl.cn/h5gwG</p>
				<div class="block">
					<div class="block_top"></div>
					<div class="block_body">@智仔基地分子：永汉电影院最后一日的人流，大家都怀念啊<span>原文转发(25)|原文评论(10)</span></div>
					<div class="block_bottom"></div>
				</div>
				<div class="block">
					<div class="block_top"></div>
					<div class="block_body">@智仔基地分子：永汉电影院最后一日的人流，大家都怀念啊<span><a href="">转发（25）</a> | <a href="">评论（10）</a></span></div>
					<div class="block_bottom"></div>
				</div>
				<div class="static">
					<span><a href="#">转发</a> | <a href="#">回复</a> | <a href="#">评论</a></span>4分钟前 来自<a href="#">新浪微博</a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<{$template_sidebar}>
	<div class="clear"></div>
</div>
<{include file="default/footer.html"}>