<{include file="default/header.html"}>
<div class="main">
	<div class="contents">
		<div class="top">共享书签</div>
		<div class="post">
			<div class="postad">通过点击浏览器按钮即可分享<{$winblog.sitename}></div><br />
		</div>
		<div class="msg">
			<p class="center">只需用鼠标右键点击</p><br /><p class="center">
	<a href="javascript:(function(){window.open('http://<{$share_url}>title='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href),'_blank','width=450,height=400');})()">分享到<{$winblog.sitename}></a>
			</p><br /><p class="center">并选择“添加到收藏夹”即可（支持IE、遨游Maxthon浏览器）</p>
</div>
		
	</div>
	<{$template_sidebar}>
	<div class="clear"></div>
</div>
<{include file="default/footer.html"}>