<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>WinBlog安装过程</title>
<META content=history name=save>
<link href="./template/install/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="page">
	<div id="logo">
		<h1><a href="#">WinBlog安装过程</a></h1>
		<p><em>{ by <a href="http://winblog.googlecode.com/" target="_blank">WinBlog微博程序</a> }</em></p>
	</div>
	<hr />
	<!-- end #logo -->
	<div id="content">
		<div class="post">
			<h2 class="title">第二步，填写信息</h2>
			<p class="meta"><em>{ 填写以下的UCenter信息、数据库设置及网站设置 }</em></p>
			<form action="./index.php?step=3" method="POST" onsubmit="return window.confirm('确定信息正确吗？');">
<?php if(!empty($err)){?>
				<p><i><?php echo $err;?></i></p>
<?php }?>
			<div class="entry">
				<h3>康盛UCenter设置</h3>
				
				<p><span>链接UCenter的模式：</span>
				
				<input type="radio" name="UC_CONNECT" value="mysql" id="ucconnect1" <?php if('mysql' == $tips["UC_CONNECT"]){?> checked <?php }?>/><label for="ucconnect1">mysql</label>
				<input type="radio" name="UC_CONNECT" value="fscoketopen" id="ucconnect0" <?php if('fscoketopen' == $tips["UC_CONNECT"]){?> checked <?php }?> /><label for="ucconnect0" >fscoketopen</label>
				
				</p>
				<p><span>UCenter 数据库地址：</span><input type="text" name="UC_DB_HOST" value="<?php echo $tips["UC_DB_HOST"];?>" /></p>
				<p><span>UCenter 数据库用户名：</span><input type="text" name="UC_DB_USER" value="<?php echo $tips["UC_DB_USER"];?>" /></p>
				<p><span>UCenter 数据库密码：</span><input type="text" name="UC_DB_PASSWORD" value="<?php echo $tips["UC_DB_PASSWORD"];?>" /></p>
				<p><span>UCenter 数据库名称：</span><input type="text" name="UC_DB_DBNAME" value="<?php echo $tips["UC_DB_DBNAME"];?>" /></p>
				<p><span>UCenter 数据库表前缀：</span><input type="text" name="UC_DB_PREFIX" value="<?php echo $tips["UC_DB_PREFIX"];?>" /></p>

				<h3>UCenter 通讯设置</h3>

				<p><span>与 UCenter 的通信密钥：</span><input type="text" name="UC_KEY" value="<?php echo $tips["UC_KEY"];?>" /></p>
				<p><span>UCenter 的 URL 地址：</span><input type="text" name="UC_API" value="<?php echo $tips["UC_API"];?>" /></p>
				<p><span>当前应用的 ID：</span><input type="text" name="UC_ID" value="<?php echo $tips["UC_ID"];?>" /></p>
				
				<h3>数据库信息</h3>
				<p><span>网站数据库地址：</span><input type="text" name="WIN_DB_HOST" value="<?php echo $tips["WIN_DB_HOST"];?>" /></p>
				<p><span>网站数据库用户名：</span><input type="text" name="WIN_DB_USER" value="<?php echo $tips["WIN_DB_USER"];?>" /></p>
				<p><span>网站数据库密码：</span><input type="text" name="WIN_DB_PASSWORD" value="<?php echo $tips["WIN_DB_PASSWORD"];?>" /></p>
				<p><span>网站数据库名称：</span><input type="text" name="WIN_DB_DBNAME" value="<?php echo $tips["WIN_DB_DBNAME"];?>" /></p>
				<p><span>网站数据库表前缀：</span><input type="text" name="WIN_DB_PREFIX" value="<?php echo $tips["WIN_DB_PREFIX"];?>" /></p>
				<h3>网站设置</h3>
				<p><span>网站名称：</span><input type="text" name="WIN_SITENAME" value="<?php echo $tips["WIN_SITENAME"];?>" /></p>
				<p><span>网站介绍：</span><input type="text" name="WIN_SITEINTRO" value="<?php echo $tips["WIN_SITEINTRO"];?>" /></p>
				<p><span>网站版权信息：</span><input type="text" name="WIN_COPYRIGHT" value="<?php echo $tips["WIN_COPYRIGHT"];?>" /></p>
				<p><span>是否开启二级域名：</span>
				<input type="radio" name="WIN_SUBDOMAIN" value="1" id="domain1"  <?php if(1 == $tips["WIN_SUBDOMAIN"]){?> checked <?php }?>/><label for="domain1">开启</label>
				<input type="radio" name="WIN_SUBDOMAIN" value="0" id="domain0"  <?php if(0 == $tips["WIN_SUBDOMAIN"]){?> checked <?php }?>/><label for="domain0" >关闭</label>
				</p>
				<p><span>是否使用PATH_INFO：</span>
				<input type="radio" name="WIN_PATH_INFO" value="1" id="pathinfo1" <?php if(1 == $tips["WIN_PATH_INFO"]){?> checked <?php }?>/><label for="pathinfo1">开启</label>
				<input type="radio" name="WIN_PATH_INFO" value="0" id="pathinfo0" <?php if(0 == $tips["WIN_PATH_INFO"]){?> checked <?php }?>/><label for="pathinfo0" checked>关闭</label></p>
				<h3>管理员设置</h3>
				<p><span>管理员名称：</span><input type="text" name="WIN_USERNAME" value="<?php echo $tips["WIN_USERNAME"];?>" /></p>
				<p><span>管理员昵称：</span><input type="text" name="WIN_NICKNAME" value="<?php echo $tips["WIN_NICKNAME"];?>" /></p>
				<p><span>管理员性别：</span>
				<input type="radio" name="WIN_SEX" value="1" id="sex1" <?php if(1 == $tips["WIN_SEX"]){?> checked <?php }?>/><label for="sex1">女</label>
				<input type="radio" name="WIN_SEX" value="0" id="sex0"  <?php if(0 == $tips["WIN_SEX"]){?> checked <?php }?>/><label for="sex0" checked>男</label>
				</p>
				<p><span>管理员电子邮件：</span><input type="text" name="WIN_EMAIL" value="<?php echo $tips["WIN_EMAIL"];?>" /></p>
				<p><span>管理员密码：</span><input type="text" name="WIN_PASSWORD" value="<?php echo $tips["WIN_PASSWORD"];?>" /></p>
				<p class="links"><input type="submit" class="button" value="进入下一步" /></p>
			</div>
			</form>
		</div>
	</div>
	<!-- end #content -->
</div>
<!-- end #page -->
</body>
</html>